<app-home>

<section id="gallery" class="main-section">
  <div class="container">
    <div class="row">
      <div class="about-header">
        <h1><b>GALLERY</b></h1>
        <hr style="width:618%">
      </div>
      

       <div class="gallary-img ">
        <div class="row">
        <div class="col-md-4 ">
          <a href="../../../../assets/images/G1E.jpg" data-lightbox="mygallery"><img src="../../../../assets/images/G1small.jpg"></a>
        </div>
        <div class="col-md-4 col-sm-6">
          <a href="../../../../assets/images/G2E.jpg" data-lightbox="mygallery"><img src="../../../../assets/images/G2small.jpg"></a>
        </div>
        <div class="col-md-4 ">
          <a href="../../../../assets/images/G3E.jpg" data-lightbox="mygallery"><img src="../../../../assets/images/G3small.jpg"></a>
        </div>
      </div>

        <div class="row">
        <div class="col-md-4 ">
          <a href="../../../../assets/images/G4E.jpg" data-lightbox="mygallery"><img src="../../../../assets/images/G4small.jpg"></a>
        </div>
        <div class="col-md-4 ">
          <a href="../../../../assets/images/G1E.jpg" data-lightbox="mygallery"><img src="../../../../assets/images/G1small.jpg"></a>
        </div>
        <div class="col-md-4 ">
          <a href="../../../../assets/images/G2E.jpg" data-lightbox="mygallery"><img src="../../../../assets/images/G2small.jpg"></a>
        </div>
      </div>
      </div>


    </div>
  </div>


</section>
</app-home>