<app-home>

<section id="contact" class="main-section">
  <div class="container">
    <div class="row">
      <div class="about-header">
        <h1><b>CONTACT</b></h1>
      </div>
    </div>
      <hr>
    <div class="row">
    <div class="col-md-4  " >
      <div class="contact-info">
        <h3 class="plan-title">CONTACT</h3>

        <div class="info">
          <p><i class="fa fa-phone"></i>THARUMAL 0771541807</p>
          <p><i class="fa fa-envelope-o"></i> <a href="#">tharumalwimalarathna@gmail.com</a></p>
          <p><span>.</span></p>
        </div>

      </div>
    </div>


    <div class="col-md-4 " >
      <div class="contact-info">
        <h3 class="plan-title">OPENING HOURS</h3>
        <div>
          <p>Monday - Friday <span>02:00PM- 07:00PM</span></p>
          <p>Saturday <span>7:00AM -7:00 PM</span></p>
          <p>Sunday <span>1:00AM-7:00PM</span></p>
        </div>



      </div>
    </div>


    <div class="col-md-4 ">
      <div class="contact-info">
        <h3 class="plan-title">ADDRESS</h3>
        <div>
          <p><span>NO:230,</span></p>
          <p><span>Sirimawo Bandaranayaka road,</span></p>
          <p><span>kandy.</span></p>
        </div>

      </div>
    </div>

</div>
  </div>

</section>

</app-home>
