#responce {
  background: url(../../../../assets/images/teachers.jpg) 50% 0 repeat-y fixed;
  padding-top: 80px;
  padding-bottom: 100px;
}

#responce h1 {
  font-size: 40px;
  color: #85CE36;
}

#responce p {
  font-size: 20px;
}

#responce h3 {
  font-size: 30px;
  margin-bottom: 0px;
  color: #85CE36;
}

#responce h4 {
  font-size: 20px;
  margin-top: 4px;
  color: #85CE36;
}

#responce h6 {
  font-size: 20px;
  margin-top: 4px;
  color: whitesmoke;
  padding-top: 10px;

}

th {
  font-size: 18px;
  font-weight: 600;
  color: black;
}

.example-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
  overflow: auto;
}

.isbn-col {
  flex: 0 0 100px !important;
  white-space: unset !important;
}

.button-row {
  margin: 10px 0;
}

.payment_table {
  padding: 50px 50px 50px 50px;
}

.example-button-row button,
.example-button-row a {
  margin: 20px 20px 20px 20px;
}
