<nav class="navbar navbar-expand-lg  navbar-dark bg-dark ">
  <a class="navbar-brand mr-auto mr-lg-0" href="#"><h1>Eagle College</h1></a>
  <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item" [routerLinkActive]="[Active]" [routerLinkActiveOptions]="{Exact:true}" >
        <a class="nav-link" [routerLink]="['/']">Home</a>
      </li>
      <li class="nav-item"[routerLinkActive]="[Active]" [routerLinkActiveOptions]="{Exact:true}" [routerLink]="['/login']">
        <a class="nav-link" [routerLink]="['/login']"> logIn</a>
      </li>

     <li class="nav-item" [routerLinkActive]="[Active]" [routerLinkActiveOptions]="{Exact:true}" [routerLink]="['/register']">
       <a class="nav-link" [routerLink]="['/register']"> register</a>
     </li>
    <li class="nav-item" [routerLinkActive]="[Active]" [routerLinkActiveOptions]="{Exact:true}" [routerLink]="['/student']">
       <a class="nav-link" [routerLink]="['/student']"> student</a>
    </li>
     
  </ul>
  </div>
</nav> 