#register {
  background: url(../../../assets/images/about.jpg) 50% 0 repeat-y fixed;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 150px;
  padding-bottom: 150px;
}


 h1 {
  font-size: 50px;
  color: #85CE36;
  text-align: center;
  padding: 10px 10px 10px 10px;
}
p{
    text-align: center;
    color: black;
}


#register-form {
  background-color: whitesmoke;
  padding: 10px 10px 10px 10px;
  border-radius: 10px;

}

#register-form form label {
  padding-top: 20px;
}

#register-form-submit {
  padding: 0px;
  border-radius: 10px;
}

#register-form .form-control {

  border: none;
  border-radius: 0;
  box-shadow: none;
  margin-top: 10px;
  margin-bottom: 10px;

}


#register-form .sub-btn {
  padding: 30px 30px 30px 30px;
}