#about {
  background:url(../../../../assets/images/about.jpg) 50% 0 repeat-y fixed;
  -webkit-bacground-size: cover;
  background-size: cover;
  background-position: center;
  color: #ffffff;
  padding-top: 120px;
  padding-bottom: 100px;


}

#about h1 {
  font-size: 40px;
  color: #85CE36;
}

#about h5 {
  font-size: 20px;
}

#about .mission-title {
  border: 2px solid wheat;
  background-color: #85CE36;
  padding: 20px;
  position: relative;
  text-align: left;
  margin-bottom: 50px;
}



#about .academic-title {
  border: 2px solid wheat;
  background-color: #85CE36;
  padding: 20px;
  position: relative;
  text-align: left;
  margin-bottom: 50px;
}

#about .mission-title:hover {
  background: #85CE36;
  border-color: black
}


#about .academic-title:hover {
  background: #85CE36;
  border-color: black;
}
