<app-home>
<section id="about" class="main-section">
  <div class="container">
  <h1 class="title col-md-12"><b>ABOUT US</b></h1>
<hr>
    <div class="row">
      

      <div class="col-md-2"></div>
      <div class=" col-md-8 col-sm-8 ">
        <div class="mission-title">
          <h2>INTRODUCTON </h2>
          <hr>

          <p>
            In 2010, Heshan Senarathna, a young teacher started Eagle college with a mission to create ethical &
            intellectual student throught qualitative education. Once he started teaching,the entrepreneurial spirit in
            was awakened. He started teaching Mathematics and Science for O/L student.
          </p>
          <p>
            In 2014, Eagle College introduced teaching Mathematics, Science, English,History for grade 6,7,8,9,10 and
            English and History for grade 10 and 11. Now Eagle college have best talented teachers for cover all
            subjects,
          </p>

        </div>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-2"></div>
      <div class="col-md-offset-4 col-md-8 col-sm-offset-4 col-sm-8 wow fadeInUp">

        <div class="academic-title">
          <h2>VISION and MISSION</h2>
          <hr>
          <h5>VISION</h5>
          <p>
            TO BE THE SRI LANKAN BEST EDUCATIONAL COLLEGE.
          </p>
          <h5>MISSION</h5>
          <p>
            We are committed to take Education to every home expert teachers by using technology in educational
            eco-system.
          </p>
        </div>
      </div>
    </div>

  </div>

</section>
</app-home>
