<app-sidebar>
<div id="message" class="main-section">
  <div class="container">

    <h1><b>Students Informations</b></h1>

<div class="student_table">
  <div class="example-container mat-elevation-z8">
    <table mat-table #table [dataSource]="dataSource">

     
      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef> Fist Name</th>
        <td mat-cell *matCellDef="let element" class="isbn-col"> {{element.firstName}} </td>
      </ng-container>


      <ng-container matColumnDef="studentId">
        <th mat-header-cell *matHeaderCellDef>StudentId</th>
        <td mat-cell *matCellDef="let element"> {{element.studentId}} </td>
      </ng-container>


      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef> Last Name</th>
        <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
      </ng-container>

      
      <ng-container matColumnDef="grade">
        <th mat-header-cell *matHeaderCellDef> Grade</th>
        <td mat-cell *matCellDef="let element"> {{element.grade}} </td>
      </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="['/student-details/', row._id]"></tr>
    </table>
  </div>
</div>
</div>
</div>
  
</app-sidebar>