<app-teacher>

  <div id="card" class="main-section">

    <h1><b>Admin Reasponse Details</b></h1>


    <div class="button-row">
      <a mat-raised-button color="primary" [routerLink]="['/teacher-response']">
        <i class="fa fa-bar"> BACK</i>
      </a>
    </div>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>
          <h2>{{response.reason}}</h2>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <dl>
         
          <dt>Date:</dt>
          <dd>{{response.date}}</dd>
          <dt>Details:</dt>
          <dd>{{response.details}}</dd>
        </dl>
      </mat-card-content>
      <mat-card-actions>
        <a mat-raised-button color="warn" (click)="deleteMessage(response._id)">

        </a>
      </mat-card-actions>
    </mat-card>

  </div>





</app-teacher>