<app-teacher-nav></app-teacher-nav>
<ng-content></ng-content>

<footer id="footer">

  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <ul class="social-media">
          <li>
            <p>Copyright &copy; Eagle College</p>
          </li>
          <li><a href="#" class="fa fa-facebook wow fadeInUp" data-wow-delay="1s"></a></li>
          <li><a href="#" class="fa fa-twitter wow fadeInUp" data-wow-delay="1s"></a></li>
          <li><a href="#" class="fa fa-google-plus wow fadeInUp" data-wow-delay="1s"></a></li>
        </ul>

      </div>

    </div>
  </div>

</footer>