<div id="outbox">
  <div class="container">
    <div class="space">
      <div class="col-md-12 col-sm-12">
        <form id="register-form" [formGroup]="studentForm" (ngSubmit)="onSubmit()" class="col-md-12 col-sm-12">

          <div class="section-title ">
            <h2>CTREATE STUDENT ACCOUNT</h2>
          </div>
          <div class="row">
            <div class="col-md-1">
            </div>
            <div class=" col-md-11 row">

              
              <div class="col-md-12 col-sm-12">
                <label for="firstName">Student First Name </label>
                <input type="text" class="form-control" name="firstName" placeholder="First Name" formControlName="firstName"
                  [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                  <div *ngIf="f.firstName.errors.required">Student First Name is required</div>
                </div>
              </div>

              <div class="col-md-12 col-sm-12">
                <label for="lastName">Student Last Name</label>
                <input type="text" class="form-control" name="lastName" placeholder="Last Name" formControlName="lastName"
                  [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                  <div *ngIf="f.lastName.errors.required">Student Last Name is required</div>
                </div>
              </div>

              <div class="col-md-12 col-sm-12">
                <label for="username">Student ID</label>
                <input type="text" class="form-control" name="username" placeholder=" Student Register Number"
                  formControlName="username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                  <div *ngIf="f.username.errors.required">Student Register Number is required</div>
                </div>
              </div>

             <div class="col-md-12 col-sm-12">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password" placeholder=" Password"
                  formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                  <div *ngIf="f.password.errors.required">Password</div>
                  <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                </div>
              </div>

            
              <div class=" col-md-6 col-sm-6 sub-btn">
                <button [disabled]="loading" class="btn btn-danger form-control ">CREATE ACCOUNT</button>
              </div>

              <div class=" col-md-6 col-sm-6 sub-btn">
                <a [routerLink]="['/student-table']" class="btn btn-warm form-control ">STUDENTS DETAILS</a>
              </div>
            </div>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>